/*============ =============
        common style 
 ============ =============*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 a{
    display: inline-block;
    color: #000;
    text-decoration: none;
 }
 li{
    list-style: none;
 }
 body{
    background: #E5E5E5;
    font-size: 1em;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 22px;
    color: #000;
 }
 .container{
    width: 90%;
    margin: 0 auto;
 }
 .d-flex{
    display: flex;
 }
 .space{
    justify-content: space-between;
 }
 .wrap{
    flex-wrap: wrap;
 }

 /*================  ================
        header style starts 
  ================  ================*/
.header{
    background-color: #562EFF;
  
}

.nav-bar{
    align-items: center;
    height: 94px;
}
.nav-bar img{
    width: 40.42px;
    height: 51px;
}
.manu_bar{
    align-items: center;
}
.manu_bar li a{
    color: #fff;
    margin-left: 2.25em;
    font-weight: 400;
    font-size: 16px;
}
.manu_bar li img{
    width: 51px;
    height: 51px;
}

 /*================  ================
        header style ends 
  ================  ================*/




 /*================  ================
        header style starts 
  ================  ================*/
 /*================  ================
        header style ends 
  ================  ================*/
 /*================  ================
        header style starts 
  ================  ================*/
 /*================  ================
        header style ends 
  ================  ================*/
  

